body {
    background: #ffffff;
    color: #333333;
  }

  .profile-subtitle {
    color: #a6a6a6
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 0px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  /* Add margin between navbar and body content */
  /* .navbar {
    margin-bottom: 4rem;
  } */

  /* Tweet2Map Page */

  .tweet2mapMap {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .tweet2mapMap iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
  }

  /* Animation */
  :root {
    --animate-delay: 0.5s;
  }

  /* Font Awesome icons */

  .fab {
    color: #333333;
  }

  .far {
    color: #333333;
  }

  /* Font awesome icons action on hover */
  .fab:hover {
    color: #7e7e7e;
  }

  .far:hover {
    color: #7e7e7e;
  }

  /* Profile CSS */

  /* #ul-skills {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  } */

  #div_visual {
    border: 1px;
    border-color: red;
    border-style: dashed;
  }

  #profile_div_left {
    text-align: right;
    border: 1px;
    border-width: 2px;
    border-color: red;
  }

  #profile_div_right {
    text-align: left;
    border: 1px;
    border-width: 2px;
    border-color: red;
  }

  /* For dropdown on hover in the navbar */
  @media all {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ color: #fff;  }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
  }	

  .landing-text {
    color: white;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .landing-text-subtitle {
    color: white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
  }

  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }