/* Align the item to the center using the parent div as a flex item */

.page {
    display: flex;
    align-items: center;
  }
  
  /* Or self-align the item as long as it's a direct child of the parent div */
  
  .page {
    display: flex;
  }
  
  .page blockquote {
    align-self: center;
  }