{% extends "layout.html"%}
{% block content %}
    {% block body%}
    <h1 style="margin-top: 40px;">CV</h1>
    <br>

    <h2>Skills</h2>
    <div class="container">
        <div class="row">
          <div class="col-md-3">
              <ul>
                  <li>Python, SQL, Git</li>
                  <li>ArcGIS, QGIS, SNAP</li>
                  <li>Python Package Distribution</li>
              </ul>
          </div>
          <div class="col-md-3">
              <ul>
                <li>Data analysis</li>
                <li>Twitter Data mining</li>
                <li>Data wrangling</li>
              </ul>

          </div>
        </div>
    </div>
    <hr>

    <br>
    <h2>Projects</h2>
    <br>
    <ul>
        <li><a href="https://www.github.com/pbrotoisworo/tweet2map">Tweet2Map</a></li>
        <li><a href="https://bit.ly/s4s_dinsar">DInSAR Tools</a></li>
    </ul>
    <br>
    <hr>

    <br>
    <h2>Work Experience</h2>
    <br>

    <h5>University Researcher II (November 2019 - Present)</h5>
    <p><em>STAMINA4Space Program - GRASPED<br>University of the Philippines: Diliman, Quezon City, NCR, Philippines</em></p>
    <p>STAMINA4Space is the program that is managing the first satellites developed by the Philippines. It aims to help jumpstart the Philippine space industry and is the precursor to the Philippine Space Agency.</p>
    <ul>
        <li>Developed workflows for image coregistration and mosaicking of Diwata microsatellite imagery. Workflow accepted as conference proceeding in ACRS 2020.</li>
        <li>Managed open-source software which focused on combining multiple radar interferometry workflows into a single easy-to-use package</li>
        <li>Performed simplified Dvorak analysis on typhoon using Diwata imagery</li>
    </ul>
    
    <br>
    <h5>Science Research Specialist II (October 2018 - August 2019)</h5>
    <p><em>Project DIME<br>University of the Philippines: Diliman, Quezon City, NCR, Philippines</em></p>
    <p>Project DIME is an initiative by the Philippine Department of Budget and Management to remotely monitor and assess projects using remote sensing technologies.</p>
    <ul>
        <li>Created tools to monitor irrigation infrastructure using remote sensing and distributed them to the relevant government agencies</li>
        <li>Conducted field work to gather canal cross-section data using GPS survey data</li>
        <li>Analyzed imagery using machine learning methodologies</li>
    </ul>

    <br>
    <h2>Education</h2>
    <br>

    <h5>MSc Environmental Management</h5>
    <p><em>Monash University, Melbourne, Australia</em></p>

    <h5>BSc Environmental Science</h5>
    <p><em>California State University: Easty Bay, Hayward, CA, USA</em></p>
    {% endblock %}
{% endblock %}