{% extends "layout.html"%}
{% block content %}
    {% block body%}
    <h1 class="animate__animated animate__fadeIn">Panji Brotoisworo</h1>
    <br>
    <br>
    <!-- <div class="container">
        <div class="row">
          <div class="col-md-6" id="home_div_left">
            <img src="static\img\headshot.PNG" width=200 height=200>
          </div>
          <div class="col-md-6">
            <h5 class="animate__animated animate__fadeIn">Geospatial</h1>
                <h5 class="animate__animated animate__fadeIn">Python</h1>
          </div>
        </div>
    </div> -->
    {% endblock %}
{% endblock %}