{% extends "layout.html"%}
{% block content %}
    {% block body%}
    <h1 style="margin-top: 40px;">Portfolio</h1>
    <p>Highlights from my work</p>

    <!-- Row 1 -->
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="static\img\portfolio\002_masbate_insar.PNG">
            <img src="static\img\portfolio\007_masbate_insar.PNG" alt="Image" style="width:100%">
            <div class="caption">
              <p>Radar interferometry analysis of 2020 Masbate Earthquake in the Philippines</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="static\img\portfolio\008_tweet2map_folium.png">
            <img src="static\img\portfolio\008_tweet2map_folium.png" alt="Image" style="width:100%">
            <div class="caption">
              <p>Generated interactive web map to visualize traffic acicdent data mined from Twitter</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="static\img\portfolio\009_tweet2map_breakdowns.png">
            <img src="static\img\portfolio\009_tweet2map_breakdowns.png" alt="Image" style="width:100%">
            <div class="caption">
              <p>Time-series of mechanical breakdowns in Metro Manila. Data mined from Twitter.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Row 2 -->
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="static\img\portfolio\004_p2p_coverage.PNG">
            <img src="static\img\portfolio\004_p2p_coverage.PNG" alt="Image" style="width:100%">
            <div class="caption">
              <p>Network analysis of P2P bus routes in Metro Manila in May 2018</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="static\img\portfolio\005_worldcloud.PNG">
            <img src="static\img\portfolio\005_worldcloud.PNG" alt="Image" style="width:100%">
            <div class="caption">
              <p>Visualizing urban sprawl in Metro Manila using Landsat imagery</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="static\img\portfolio\006_tweet2map_cli.png">
            <img src="static\img\portfolio\006_tweet2map_cli.png" alt="Image" style="width:100%">
            <div class="caption">
              <p>Processing mined Twitter traffic accident data</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    {% endblock %}
{% endblock %}