{% extends "layout.html"%}
{% block content %}
    {% block body%}
    <h1>Portfolio</h1>
    <p>Highlights from my work</p>

    <!-- Row 1 -->
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="static\img\portfolio\002_radar_software.PNG">
            <img src="static\img\portfolio\002_radar_software.PNG" alt="Image" style="width:100%">
            <div class="caption">
              <p>Development of radar interferometry software</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="static\img\portfolio\003_urban_sprawl.PNG">
            <img src="static\img\portfolio\003_urban_sprawl.PNG" alt="Image" style="width:100%">
            <div class="caption">
              <p>Visualizing urban sprawl in Metro Manila using Landsat imagery</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="static\img\portfolio\001_tweet2map_analysis.PNG">
            <img src="static\img\portfolio\001_tweet2map_analysis.PNG" alt="Image" style="width:100%">
            <div class="caption">
              <p>Analysis of Tweet2Map data</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Row 2 -->
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="static\img\portfolio\004_p2p_coverage.PNG">
            <img src="static\img\portfolio\004_p2p_coverage.PNG" alt="Image" style="width:100%">
            <div class="caption">
              <p>Network analysis of P2P bus routes in Metro Manila in May 2018</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="static\img\portfolio\005_worldcloud.PNG">
            <img src="static\img\portfolio\005_worldcloud.PNG" alt="Image" style="width:100%">
            <div class="caption">
              <p>Visualizing urban sprawl in Metro Manila using Landsat imagery</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="static\img\portfolio\006_tweet2map_cli.png">
            <img src="static\img\portfolio\006_tweet2map_cli.png" alt="Image" style="width:100%">
            <div class="caption">
              <p>Processing mined Twitter traffic accident data</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    {% endblock %}
{% endblock %}