{% extends "layout.html"%}
{% block content %}
    {% block body%}
    <h1 style="margin-top: 40px;">Publications</h1>
    <p>Brotoisworo, P, Sabuito, AJ, Merida, H, Felix, MJ, & Perez, GJ., 2020. Image Coregistration and Mosaicking of Diwata Microsatellite Imagery. In  <em>Proceedings of the Annual Conference of Asian Conference on Remote Sensing 2020.</em><br><a href="https://a-a-r-s.org/proceeding/ACRS2020/a0urgg.pdf">Access the paper</a> </p>
    <p>Brotoisworo, P. and Sunio, V., 2019. Exploring the Utilization of Crash Data from Waze and Twitter for Official National Crash Database. In <em>Proceedings of the Eastern Asia Society for Transportation Studies (Vol. 12)</em>.<br><a href="http://www.easts.info/on-line/proceedings/vol.12/pdf/PP2504.pdf">Access the paper</a></p>
    {% endblock %}
{% endblock %}